/* this file define some files or directories that no push to remote warehouse */
.vscode
.idea/*
node_modules
/target/
/.classpath
/tmp/
/.settings/
/.idea/
/*.iml
/LeetCode/target
/**/*.iml
/**/target
/**/rebel-remote.xml
/**/rebel.xml

/.scannerwork/
